/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}

ul{
	list-style: none;
}


/********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	
	/* Globaal */
	--color-main:#111;
	--color-background:#eee;
	
	/* Header */
	--header-padding: 1.25rem;
	--header-height: 5rem;
	--header-background: red;
	
	/* search */
	--search-height: 90px;
	
	/* Movie */
	--movie-padding: 10px;
}


/****************/
/* JOUW STYLING */
/****************/
body {
	font-family:eenfont, sans-serif;
	color:var(--color-main);
	background-color:var(--color-background);
	padding-top: var(--header-height);
	scroll-behavior: smooth;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	padding: var(--header-padding);
	background-color: var(--header-background);
	z-index: 4;
}

header button{
	border: none;
	background-color: var(--header-background);
}

main{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

main > section {
 	padding: 1.25rem;
}

#search{
	position: sticky;
	top: calc(var(--header-height) - 5px);
	display: flex;
    flex-direction: column;
	z-index: 2;
	transition: background-color .3s ease-out;
}

#search.sticky{
	min-height: var(--search-height);
	background-color: var(--header-background);
}

#search input{
	padding: 5px 10px;
	border-radius: 5px;
}

#movie-results > ul{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#movie-results > ul > li{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: auto;
	/* width: 100%; */
	background-color: white;
	/* padding: var(--movie-padding); */
	border-radius: 20px 20px 0 0;
}

#movie-results > ul > li img{
	height: auto;
	width: 100%;
	border-radius: inherit;
}

#movie-results > ul > li section{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* justify-content: space-evenly; */
	justify-content: end;
    gap: 10px;
	width: 100%;
    height: 100%;
	padding: var(--movie-padding);
	overflow: hidden;
}

#movie-results > ul > li section div{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#movie-results > ul > li section ul{
	display: flex;
	gap: 5px;
	padding: 10px 0;
	border-top: 1px solid black;
	overflow-x: auto;
}

#movie-results > ul > li section ul li{
    flex: 0 0;
    height: fit-content;
	padding: 5px;
	border: 1px solid black;
	background-color: yellow;
	white-space: nowrap
}

#movie-results > ul > li button{
	position: absolute;
	top: var(--movie-padding);
	left: var(--movie-padding);
}

@media (min-width: 567px) {

	#movie-results > ul > li{
		flex-direction: row;
		height: 300px;
		border-radius: 20px 0 0 20px;
	}

	/* #movie-results > ul > li section p{
		text-overflow: ellipsis;
		display: -webkit-box;
		line-clamp: 4; 
		-webkit-line-clamp: 4; 
		-webkit-box-orient: vertical;
		overflow: auto;
	} */

	#movie-results > ul > li section span{
		position: absolute;
		top: var(--movie-padding);
		right: var(--movie-padding);
		align-self: end;
	}

	#movie-results > ul > li img{
		height: 100%;
		width: auto;
	}
}

@media (min-width: 768px) {

	#movie-results > ul{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#movie-results > ul > li{
		flex-direction: column;
		height: auto;
		border-radius: 20px 20px 0 0;
		flex: 0 0 calc(50% - 10px);
	}

	#movie-results > ul > li section{
		justify-content: space-between;
	}

	#movie-results > ul > li section span{
		position: relative;
		top: initial;
		right: initial;
		align-self: initial;
	}

	#movie-results > ul > li img{
		width: 100%;
		height: auto;
	}
}

@media (min-width: 1024px) {
	#movie-results > ul > li{
		flex: 0 0 calc(calc(100% / 3) - 14px);
	}
}

#more-movies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#more-movies span {
	position: relative;
    display: none;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0000;
    border: 2px solid #000;
}

/* #more-movies span::before,  */
#more-movies span::after {
    content: "";
    position: absolute;
    display: block;
    left: -5px;
    right: -5px;
    height: 10px;
    background-color: var(--color-background);
}

#more-movies span.loading {
	display: grid;
}

#more-movies span.loading::after{
    content: "";
	animation: loader 1.6s infinite ease-in-out;
}

@keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

#saved-movies {
	position: fixed;
	top: var(--header-height);
	bottom: 0;
	right: 0;
	width: 100%;
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 20px 20px;
	background-color: red;
	z-index: 3;
	transition: transform 0.3s ease-out;
	overflow: auto;
}

#saved-movies.open {
	transform: translateX(0);
}

#saved-movies h2{
    position: sticky;
    top: 0;
    background-color: #f00;
	padding: 5px 0;
}

#saved-movies ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
}

#filters-menu {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 0;
	padding: 0;
	background-color: red;
	transition: height 0.3s ease-out;
}

#filters-menu.open {
	height: 50vh;
	padding: var(--header-padding);
}

#fixed-buttons {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0;
}

#fixed-buttons button{
	display: grid;
	align-content: center;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	font-size: 1.5rem;
	border: 2px solid black;
}

#back-to-top {
	opacity: 0;
	pointer-events:none;
	user-select: none;
	transition: opacity .3s;
}

#back-to-top.show {
	opacity: 1;
	cursor: pointer;
	pointer-events:all;
	user-select: none;
}