/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
	border: none;
}

ul{
	list-style: none;
}


/********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	
	/* Globaal */
	/* --color-main:#111;
	--color-background:#171A30;
	--color-secondary:#FC094C; */
	--color-main:#171A30;
	--color-secondary:#FC094C;
	--color-text: white;
	--color-background:var(--color-main);
	
	/* Header */
	--header-padding: 1.25rem;
	--header-height: 5rem;
	--header-background: var(--color-secondary);
	
	/* search */
	--search-height: 90px;
	
	/* Movie */
	--movie-padding: 5px;

	--radius-rounded-small: 0.325rem;
	--radius-rounded-bottom: 0 0 0.5rem 0.5rem;
}
}


/****************/
/* JOUW STYLING */
/****************/
body {
	font-family:eenfont, sans-serif;
	color:var(--color-text);
	background-color:var(--color-background);
	padding-top: var(--header-height);
	scroll-behavior: smooth;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	padding: var(--header-padding);
	background-color: var(--header-background);
	border-radius: var(--radius-rounded-bottom);
	z-index: 4;
}

header h1{
	color:var(--color-main);
}

header h1 span{
	color:var(--color-text);
	filter: drop-shadow(0px 0px 3px var(--color-background)) drop-shadow(-3px 3px 10px var(--color-text));
}

header button{
	position: relative;
	background-color: transparent;
	width: 50px;
	height: 62px;
}

header button div{
	position: absolute;
	top: calc(var(--movie-padding) * 2.5);
	right: calc(var(--movie-padding) * 2.5);
	width: 37px;
	height: 0;
	border: none;
}

header button div::before,
header button div::after{
	content: "";
	position: absolute;
	width: 26px;
	height: 40px;
	border-radius: 50px 50px 0 0;
	background: var(--color-main);
	transition: background 0.3s ease-out;
}

header button div::before{
	left: 25px;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

header button div::after{
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

header button span{
	position: absolute;
	top: 0;
	right: -8px;
	display: grid;
    align-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: var(--color-text);
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 5;
}

header button span.filled{
	opacity: 1;
}

header button span.filled.movie-added{
	animation: movie-added-counter 1.3s ease-in forwards;
}

@keyframes movie-added-counter {
	0%{
		transform: scale(1) rotateY(0);	
	}	
	40%{
		transform: scale(1.5);	
	}
	50% {
		transform: scale(1.5) rotateY(180deg);	
	}
	
	60%{
		transform: scale(1.5) rotateY(360deg);	
	}

	85%{
		transform: scale(.6) rotateY(360deg);	
	}
	100%{
		transform: scale(1) rotateY(360deg);	
	}
}

main{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

main > section {
 	padding: 1.25rem;
}

#search{
	position: sticky;
	top: calc(var(--header-height) - 5px);
	display: flex;
    flex-direction: column;
	z-index: 2;
	transition: all .3s ease-out;
	border-radius: var(--radius-rounded-bottom);
	gap: 5px;
}

#search.sticky{
	min-height: var(--search-height);
	background-color: var(--header-background);
}

#search.sticky label{
	font-size: clamp(1em, 5vmin, 3em);
}

#search.sticky span, #search.sticky label{
	font-weight: bold;
	color: var(--color-main);
}

#search input{
	padding: 5px 10px;
	border-radius: 5px;
}

#movie-results > ul{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#movie-results > ul > li{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: auto;
	background-color: white;
	padding: var(--movie-padding);
	border-radius: 20px 20px 0 0;
}

#movie-results > ul > li img{
	height: auto;
	width: 100%;
	border-radius: inherit;
}

#movie-results > ul > li section{
	display: flex;
	flex-direction: column;
	justify-content: end;
    gap: 10px;
	width: 100%;
    height: 100%;
	padding: var(--movie-padding);
	background-color: var(--color-background);
	overflow: hidden;
}

#movie-results > ul > li section div{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#movie-results > ul > li section ul{
	display: flex;
	gap: 5px;
	padding: 10px 0;
	border-top: 1px solid var(--color-text);
	overflow-x: auto;
}

#movie-results > ul > li section ul li{
    flex: 0 0;
    height: fit-content;
	padding: 5px;
	border-radius: var(--radius-rounded-small);
	border: 1px solid black;
	color:var(--color-main);
	background-color: var(--color-text);
	font-weight: bold;
	white-space: nowrap
}

#movie-results > ul > li button{
	position: absolute;
	top: var(--movie-padding);
	right: var(--movie-padding);
}

@media (min-width: 567px) {

	#movie-results > ul > li{
		flex-direction: row;
		height: 300px;
		border-radius: 20px 0 0 20px;
	}

	#movie-results > ul > li img{
		height: 100%;
		width: auto;
	}
}

@media (min-width: 768px) {

	#movie-results > ul{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#movie-results > ul > li{
		flex-direction: column;
		height: auto;
		border-radius: 20px 20px 0 0;
		flex: 0 0 calc(50% - 10px);
	}

	#movie-results > ul > li section{
		justify-content: space-between;
	}

	#movie-results > ul > li section span{
		position: relative;
		top: initial;
		right: initial;
		align-self: initial;
	}

	#movie-results > ul > li img{
		width: 100%;
		height: auto;
	}
}

@media (min-width: 1024px) {
	#movie-results > ul > li{
		flex: 0 0 calc(calc(100% / 3) - 14px);
	}
}

#more-movies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#more-movies span {
	position: relative;
    display: none;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0000;
    border: 2px solid #000;
}

/* #more-movies span::before,  */
#more-movies span::after {
    content: "";
    position: absolute;
    display: block;
    left: -5px;
    right: -5px;
    height: 10px;
    background-color: var(--color-background);
}

#more-movies span.loading {
	display: grid;
}

#more-movies span.loading::after{
    content: "";
	animation: loader 1.6s infinite ease-in-out;
}

@keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

#saved-movies {
	position: fixed;
	top: var(--header-height);
	bottom: 0;
	right: 0;
	width: 100%;
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 20px 20px;
	background-color: red;
	z-index: 3;
	transition: transform 0.3s ease-out;
	overflow: auto;
}

#saved-movies.open {
	transform: translateX(0);
}

#saved-movies > section h2{
    position: sticky;
    top: 0;
    background-color: #f00;
	padding: 5px 0;
}

#saved-movies div{
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid black;
}

#saved-movies.empty  div button{
	display: none;
}

#saved-movies ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
}

#filters-menu {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 0;
	padding: 0;
	background-color: red;
	transition: height 0.3s ease-out;
}

#filters-menu.open {
	height: 50vh;
	padding: var(--header-padding);
}

#filters-menu section{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#filters-menu section div{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

#filters-menu section div label{
	position:relative;
	display:grid;
	align-content: center;
	/* height:2em; */
	padding: .25em .5em;
	background-color:white;
	border: 1px solid black;
	border-radius:20px;
}

#filters-menu section div input{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap; /* added line */
	border: 0;
}

#filters-menu section div input:focus-visible  + label{
	box-shadow:0 0 0 3px blue;
}
#filters-menu section div input:checked + label{
	background-color: grey;
}
/* #filters-menu section ul li{
	background-color:aqua;
	padding: 5px 10px;
} */

#fixed-buttons {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0;
}

#fixed-buttons button{
	display: grid;
	align-content: center;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	font-size: 1.5rem;
	border: 2px solid black;
}

#back-to-top {
	opacity: 0;
	pointer-events:none;
	user-select: none;
	transition: opacity .3s;
}

#back-to-top.show {
	opacity: 1;
	cursor: pointer;
	pointer-events:all;
	user-select: none;
}