/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Marvel';
	src: url('../fonts/Marvel-Regular.ttf') format('truetype');
	/* font-weight: normal; */
	/* font-style: normal; */
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#111;
	--color-background:#eee;
	--marvel-red: #F0131E;
	--marvel-white: #ffffff;

	--ironman-arc: #33C3F7;
	--cap-blue: #162CA2;
	--cap-red: #C31D10;
	--thor-thunder: gold;
	--hawkeye-arrow: purple;
}


/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-main);
  background-color:var(--color-background);
}

/* jouw code */
section#marvel{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 600px;
	background-color:var(--marvel-red);
	overflow: hidden;
}

/* Algemene H2 styling */
section#marvel h2{
	display: flex;
	align-items: center;
	letter-spacing: -5px;
	transform: scale(.5);
}

section#marvel h2 span{
	font-family:Marvel, sans-serif;
	color:var(--marvel-white);
	font-size: 10em;
	font-weight:100;
}

/* Ironman */
section#marvel h2 span:nth-of-type(1){
	animation: ironman 4s forwards ease-in;
}

/* Captain America */
section#marvel h2 span:nth-of-type(2){
	color: var(--marvel-red);
	/* transform: translateX(100vw); */
	/* animation-delay: 2s; */
}

section#marvel h2 span:nth-of-type(2)::before{
	content: "A";
	position: absolute;
	animation: cap 2.5s forwards ease-in-out;
	color: var(--marvel-white);
}

/* Thor */
section#marvel h2 span:nth-of-type(3){
	animation: thor 3s forwards;
}

/* Hulk */
section#marvel h2 span:nth-of-type(4){
	animation: hulk 3s forwards ease-in;
	/* transition: font-weight .2s; */
}
@keyframes ironman {
	0%{
		transform: translateY(-100vh);
	}
	
	30%{
		transform: translateY(-30vh) rotate(1deg);
	}
	
	40%{
		transform: translateY(-20vh) rotate(-2deg);
	}
	
	50%{
		transform: translateY(-10vh) rotate(.5deg);
	}
	
	70%{
		color: var(--marvel-white);
		transform: translateY(0)  rotate(0);
	}

	75%{
		color: var(--ironman-arc);
		filter: drop-shadow(0 0 5px var(--marvel-white)) brightness(1);
	}
	95%{
		/* color: var(--ironman-arc); */
		filter: drop-shadow(0 0 10px var(--marvel-white)) brightness(10);
	}
	100%{
		filter: none;
	}
}

@keyframes cap {
	0%{
		transform: translateX(100vw) scale(.5) rotate(-90deg);
		filter: drop-shadow(0px 0px 2px black);
		background: -webkit-linear-gradient(var(--cap-red) 30%, var(--cap-blue), var(--marvel-white) 60%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: #0000;
		font-weight: 700;
	}
	25%{
		transform: translateX(-100vw) rotate(-90deg);
	}
	26%{
		transform: translateX(-100vw) rotate(45deg);
	}
	50%{
		/* transform: translateX(0) translateY(-100vh) rotate(360deg); */
		transform: translateX(0) translateY(-100vh) rotate(45deg);
	}
	75%{
		transform: translateX(0) translateY(100vh) rotate(-720deg);
	}
	90%{
		filter: drop-shadow(0px 0px 2px black);
		background: -webkit-linear-gradient(var(--cap-red) 30%, var(--cap-blue), var(--marvel-white) 60%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: #0000;
		transform: translateX(0) translateY(-20vh) rotate(0) scale(1);
	}
	100%{
		filter: none;
		background: white;
		-webkit-background-clip: text;
		-webkit-text-fill-color: #0000;
		transform: translateX(0) translateY(0) rotate(0) scale(1);
	}
}

@keyframes thor {
	0%{
		transform: translateY(-100vh) translateX(-100vw) scaleY(.5);
	}
	35%{
		transform: translateY(-50vh) translateX(-30vw) scale(.6);
	}
	80%{
		color: var(--marvel-white);
		transform: translateY(0) translateX(0) scale(1);	
	}
	85%{
		color: var(--thor-thunder);
		filter: drop-shadow(0 0 5px var(--marvel-white)) brightness(1);
	}
	90%{
		color: var(--marvel-white);
		filter: none;
	}
	95%{
		color: var(--thor-thunder);
		filter: drop-shadow(0 0 5px var(--marvel-white)) brightness(1);
	}
	100%{
		color: var(--marvel-white);
		filter: none;
	}
}

@keyframes hulk {
	0%{
		transform: translateY(-100vh);
		font-weight: 100;
		color: marvel-white;
	}

	28%{
		transform: scale(1, 0.8) translateY(18px);	
	}
	
	30%{
		transform: translate(-5px);	
	}
	
	32%{
		transform: translate(5px);	
	}

	38%{
		transform: scale(1) translateY(0vh);	
	}

	45%{
		font-weight: 500;
		transform: scale(1.2);
	}

	55%{
		transform: scale(1.5);
		background: -webkit-linear-gradient(#fff, #fff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: #0000;
	}

	80%{
		transform: scale(2);
		background: -webkit-linear-gradient(#A2CD48 51%, #875094 63%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: #0000;
		font-weight: 700;
	}

	85%{
		transform: scale(1);
		background: -webkit-linear-gradient(#fff, #fff);
		-webkit-background-clip: text;
	}

	87%{
		transform: translate(-5px);	
	}
	
	89%{
		transform: translate(5px);	
	}
	
	100%{
		background: none;
		color: marvel-white;
		font-weight: 100;
	}
}
