/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Marvel';
	src: url('../fonts/Marvel-Regular.ttf') format('truetype');
	/* font-weight: normal; */
	/* font-style: normal; */
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#111;
	--color-background:#eee;
	--marvel-red: #F0131E;
	--marvel-white: #ffffff;

	--ironman-arc: #33C3F7;
	--cap-blue: #162CA2;
	--cap-red: #C31D10;
	--thor-thunder: gold;
	--hawkeye-arrow: purple;
}


/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-main);
  background-color:var(--color-background);
}

/* jouw code */
section#marvel{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 600px;
	background-color:var(--marvel-red);
	overflow: hidden;
}

/* Algemene H2 styling */
section#marvel h2{
	display: flex;
	align-items: center;
	letter-spacing: -5px;
	transform: scale(.5);
}

section#marvel h2 span{
	font-family:Marvel, sans-serif;
	color:var(--marvel-white);
	font-size: 10em;
	font-weight:100;
}

/* Ironman */
section#marvel h2 span:nth-of-type(1){
	animation: ironman 4s forwards ease-in;
}
@keyframes ironman {
	0%{
		transform: translateY(-100vh);
	}
	
	30%{
		transform: translateY(-30vh) rotate(1deg);
	}
	
	40%{
		transform: translateY(-20vh) rotate(-2deg);
	}
	
	50%{
		transform: translateY(-10vh) rotate(.5deg);
	}
	
	70%{
		color: var(--marvel-white);
		transform: translateY(0)  rotate(0);
	}

	75%{
		color: var(--ironman-arc);
		filter: drop-shadow(0 0 5px var(--marvel-white)) brightness(1);
	}
	95%{
		/* color: var(--ironman-arc); */
		filter: drop-shadow(0 0 10px var(--marvel-white)) brightness(10);
	}
	100%{
		filter: none;
	}
}
